@import url("./syntax-highlighing.css");

@media (prefers-color-scheme: dark) {
    :root {
        --highlight-brightness: 0.67;
        --highlight-chroma: 0.16;
    }
}

@media screen and (min-width: 1280px) {
    body {
        grid-template-columns: minmax(0, 1fr) 512px;
    }

    socket-demo {
        height: 100dvh;
        position: sticky;
        top: 0;
        overflow: auto;
    }
}

hr {
    margin: 3rem 0;
}
