@import url("./syntax-highlighing.css");

@media (prefers-color-scheme: dark) {
    :root {
        --highlight-brightness: 0.67;
        --highlight-chroma: 0.16;
    }
}

@keyframes glideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
}

@media screen and (min-width: 1280px) {
    body {
        grid-template-columns: minmax(0, auto) 32rem;
    }

    socket-demo {
        height: 100dvh;
        position: sticky;
        top: 0;
    }
}

aside {
    view-transition-name: sidebar;
    background: light-dark(
        oklch(0.97 0.02 var(--hue)),
        oklch(0.12 0.02 var(--hue))
    );
}

hr {
    margin: 3rem 0;
}
