*,
*::before,
*::after {
    box-sizing: border-box;
}

aside {
    padding: 2rem;
    overflow: hidden;
    flex: 1;
    width: 100%;
    height: 100%;
    background: light-dark(
        oklch(0.97 0.02 var(--hue)),
        oklch(0.12 0.02 var(--hue))
    );
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    view-transition-name: panel;
}

.event_list {
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-start;
    gap: 1.5rem;
}

.channel_selector {
    display: inline-flex;
    background: light-dark(
        oklch(0.92 0.02 var(--hue)),
        oklch(0.17 0.02 var(--hue))
    );
    color: light-dark(oklch(0.2 0.025 var(--hue)), oklch(0.8 0.025 var(--hue)));
    padding: 0.43rem;
    gap: 0.33rem;
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 0.6rem;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.channel_selector button {
    background: transparent;
    padding: 0.5rem 1rem;
    border: none;
    color: inherit;
    font-size: inherit;
    text-transform: capitalize;
    border-radius: 0.25rem;
    cursor: pointer;
}

.channel_selector button:hover {
    background: light-dark(
        oklch(0.9 0.02 var(--hue)),
        oklch(0.3 0.033 var(--hue))
    );
}

.channel_selector button.active {
    color: light-dark(oklch(0.95 0.02 var(--hue)), oklch(0.2 0.02 var(--hue)));
    view-transition-name: active-toggle;
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    background: light-dark(
        oklch(0.4 0.1 var(--hue)),
        oklch(0.7 0.12 var(--hue))
    );
}
